.cards {
  display: flex;
  justify-content: center;
  gap: 5rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

.card img {
  width: 140px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem 0.5rem;
  width: 205px;
  padding: 1.2rem;
  box-shadow: 0px 0px 3px rgb(200, 200, 200);
}

.card p {
  color: rgb(180, 180, 180);
}

@media (max-width: 906px) {
  .cards {
    gap: 4rem;
  }
}
